body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1e3a8a;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

section {
    padding: 40px;
}

#beranda {
    background-color: #f1f5f9;
    text-align: center;
}

footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
}

.btn-wa {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}

.btn-wa:hover {
    background-color: #1ebe5d;
}


ul {
    line-height: 1.8;
}



.galeri {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.nama-mobil {
    font-weight: bold;
    margin: 10px 0 5px;
}

.harga {
    color: #16a34a;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .galeri {
        justify-content: center;
    }
}


nav h2 {
    color: gold !important;
    font-size: 30px !important;
}
